* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  max-width: 50rem;
  margin: auto;
  background-color:  #171a21 ;
}

.app {
  width: 100%;
  height: 100vh;
  color:#c7d5e0 
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header {
  background-color: #1b2838 ;
}

.password_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background-color: #2a475e ;
  padding: 1em;
  border-radius: 5px;
}

form div {
  display: flex;
  flex-direction: column;
}

.password {
  display: flex;
  justify-content: center;
}

.password div {
  display: flex;
  gap: 1em;
  width: fit-content;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #1b2838 ;
}

a {
  color: #66c0f4 ;
}

header, footer, form, .password  {
padding: 1em;
}

@media screen and (max-width: 505px) {
  form {
    font-size: 1.5rem;
    width: fit-content;
    flex-direction: column;
    gap: 1em;
  }
}